
header, footer{
  background-color: rgba(243,233,241);
}

.colorp {
  background-color: rgba(243,233,241);
  border-radius: 5px;
}
.colorw {
  background-color: white;
}
.navbar{
  font-weight: bold;
  }

/*index*/
.card {
  display: flex;
  justify-content: space-between;
    }
#container {
    justify-content: center;
}

/*produit html 

/*panier*/
.commande h1{
 font-size: 20px;
 font-weight: bold;
 margin-top:28px;
 margin-left: 0px; 
}
.coordonnes h2{
  font-weight: bold;
  font-size: 20px;
  margin-top:28px;
  margin-left: 0px; 
 }
.alignright{
  text-align: right;
  font-weight: bold;
}

